<!-- views/profile.ejs -->
<% include header %>

		<div class="page-header text-center">
			<h1><span class="glyphicon glyphicon-th-list"></span> Profile Page</h1>
			<a href="/logout" class="btn btn-default btn-sm">Logout</a>
		</div>

		<div class="row">

			<!-- LOCAL INFORMATION -->
			<div class="col-sm-6">
				<div class="well">
					<h3><span class="glyphicon glyphicon-user"></span> Local</h3>


					<p>
						<strong>id</strong>: <%= user._id %><br>
						<strong>email</strong>: <%= user.local.email %><br>
						<strong>password</strong>: <%= user.local.password %><br>
						<strong>First Name</strong>: <%= user.local.firstname %><br>
						<strong>Last Name</strong>: <%= user.local.lastname %><br>
					</p>

				</div>
			</div>

		</div>

<% include footer %>